
build-parab-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/.qmake.stash
build-parab-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/main.o
build-parab-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/mainwindow.o
build-parab-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
build-parab-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/moc_mainwindow.o
build-parab-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/moc_predefs.h
build-parab-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/moc_renderarea.cpp
build-parab-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/moc_renderarea.o
build-parab-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/parab.exe
build-parab-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/renderarea.o
build-parab-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/Makefile
build-parab-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/Makefile.Debug
build-parab-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/Makefile.Release
build-parab-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/ui_mainwindow.h
build-parabola-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/.qmake.stash
build-parabola-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/main.o
build-parabola-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/mainwindow.o
build-parabola-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
build-parabola-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/moc_mainwindow.o
build-parabola-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/moc_parabola.cpp
build-parabola-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/moc_parabola.o
build-parabola-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/moc_predefs.h
build-parabola-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/moc_renderArea.cpp
build-parabola-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/moc_renderArea.o
build-parabola-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/parabola.exe
build-parabola-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/parabola.o
build-parabola-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/Makefile
build-parabola-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/Makefile.Debug
build-parabola-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/Makefile.Release
build-parabola-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/ui_mainwindow.h
CompileTime_solver/.vs/CompileTime_solver/v16/.suo
CompileTime_solver/.vs/CompileTime_solver/v16/Browse.VC.db
CompileTime_solver/.vs/CompileTime_solver/v16/ipch/17d1b4562115902.ipch
CompileTime_solver/.vs/CompileTime_solver/v16/ipch/5acee9ccf6348cff.ipch
CompileTime_solver/.vs/CompileTime_solver/v16/ipch/AutoPCH/35e1ecbd666760c5/MAIN.ipch
CompileTime_solver/.vs/CompileTime_solver/v16/ipch/AutoPCH/faaabaad2db18829/VARIABLES.ipch
CompileTime_solver/CompileTime_solver.sln
CompileTime_solver/CompileTime_solver/CompileTime_solver.vcxproj
CompileTime_solver/CompileTime_solver/CompileTime_solver.vcxproj.user
CompileTime_solver/CompileTime_solver/Debug/Classes.obj
CompileTime_solver/CompileTime_solver/Debug/CompileT.3d364b32.tlog/CL.command.1.tlog
CompileTime_solver/CompileTime_solver/Debug/CompileT.3d364b32.tlog/CL.read.1.tlog
CompileTime_solver/CompileTime_solver/Debug/CompileT.3d364b32.tlog/CL.write.1.tlog
CompileTime_solver/CompileTime_solver/Debug/CompileT.3d364b32.tlog/CompileTime_solver.lastbuildstate
CompileTime_solver/CompileTime_solver/Debug/CompileT.3d364b32.tlog/CompileTime_solver.read.1u.tlog
CompileTime_solver/CompileTime_solver/Debug/CompileT.3d364b32.tlog/CompileTime_solver.write.1u.tlog
CompileTime_solver/CompileTime_solver/Debug/CompileT.3d364b32.tlog/CopyLocal.read.1u.tlog
CompileTime_solver/CompileTime_solver/Debug/CompileT.3d364b32.tlog/CopyLocal.write.1u.tlog
CompileTime_solver/CompileTime_solver/Debug/CompileT.3d364b32.tlog/link.command.1.tlog
CompileTime_solver/CompileTime_solver/Debug/CompileT.3d364b32.tlog/link.read.1.tlog
CompileTime_solver/CompileTime_solver/Debug/CompileT.3d364b32.tlog/link.write.1.tlog
CompileTime_solver/CompileTime_solver/Debug/CompileT.3d364b32.tlog/Masm.read.1u.tlog
CompileTime_solver/CompileTime_solver/Debug/CompileT.3d364b32.tlog/Masm.write.1u.tlog
CompileTime_solver/CompileTime_solver/Debug/CompileTime_solver.exe.recipe
CompileTime_solver/CompileTime_solver/Debug/CompileTime_solver.log
CompileTime_solver/CompileTime_solver/Debug/CompileTime_solver.pch
CompileTime_solver/CompileTime_solver/Debug/CompileTime_solver.vcxproj.CopyComplete
CompileTime_solver/CompileTime_solver/Debug/CompileTime_solver.vcxproj.FileListAbsolute.txt
CompileTime_solver/CompileTime_solver/Debug/Output.obj
CompileTime_solver/CompileTime_solver/Debug/pch.obj
CompileTime_solver/CompileTime_solver/Debug/test.obj
CompileTime_solver/CompileTime_solver/Debug/vc142.pdb
CompileTime_solver/CompileTime_solver/packages.config
CompileTime_solver/CompileTime_solver/x64/Debug/CompileT.3d364b32.tlog/CL.command.1.tlog
CompileTime_solver/CompileTime_solver/x64/Debug/CompileT.3d364b32.tlog/CL.read.1.tlog
CompileTime_solver/CompileTime_solver/x64/Debug/CompileT.3d364b32.tlog/CL.write.1.tlog
CompileTime_solver/CompileTime_solver/x64/Debug/CompileT.3d364b32.tlog/CompileTime_solver.lastbuildstate
CompileTime_solver/CompileTime_solver/x64/Debug/CompileT.3d364b32.tlog/CopyLocal.read.1u.tlog
CompileTime_solver/CompileTime_solver/x64/Debug/CompileT.3d364b32.tlog/CopyLocal.write.1u.tlog
CompileTime_solver/CompileTime_solver/x64/Debug/CompileT.3d364b32.tlog/link.command.1.tlog
CompileTime_solver/CompileTime_solver/x64/Debug/CompileT.3d364b32.tlog/link.read.1.tlog
CompileTime_solver/CompileTime_solver/x64/Debug/CompileT.3d364b32.tlog/link.write.1.tlog
CompileTime_solver/CompileTime_solver/x64/Debug/CompileT.3d364b32.tlog/Masm.read.1u.tlog
CompileTime_solver/CompileTime_solver/x64/Debug/CompileT.3d364b32.tlog/Masm.write.1u.tlog
CompileTime_solver/CompileTime_solver/x64/Debug/CompileT.3d364b32.tlog/unsuccessfulbuild
CompileTime_solver/CompileTime_solver/x64/Debug/CompileTime_solver.exe.recipe
CompileTime_solver/CompileTime_solver/x64/Debug/CompileTime_solver.log
CompileTime_solver/CompileTime_solver/x64/Debug/CompileTime_solver.pch
CompileTime_solver/CompileTime_solver/x64/Debug/CompileTime_solver.vcxproj.CopyComplete
CompileTime_solver/CompileTime_solver/x64/Debug/CompileTime_solver.vcxproj.FileListAbsolute.txt
CompileTime_solver/CompileTime_solver/x64/Debug/myAsm.obj
CompileTime_solver/CompileTime_solver/x64/Debug/pch.obj
CompileTime_solver/CompileTime_solver/x64/Debug/vc142.pdb
CompileTime_solver/Debug/CompileTime_solver.exe
CompileTime_solver/Debug/CompileTime_solver.ilk
CompileTime_solver/Debug/CompileTime_solver.pdb
CompileTime_solver/Debug/gtest.pdb
CompileTime_solver/Debug/gtest_main.pdb
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/.signature.p7s
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/gtest-death-test.h
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/gtest-message.h
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/gtest-param-test.h
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/gtest-param-test.h.pump
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/gtest-printers.h
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/gtest-spi.h
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/gtest-test-part.h
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/gtest-typed-test.h
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/gtest.h
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/gtest_pred_impl.h
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/gtest_prod.h
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/custom/gtest-port.h
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/custom/gtest-printers.h
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/custom/gtest.h
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/custom/README.md
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/gtest-death-test-internal.h
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/gtest-filepath.h
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/gtest-internal.h
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/gtest-linked_ptr.h
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/gtest-param-util-generated.h
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/gtest-param-util-generated.h.pump
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/gtest-param-util.h
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/gtest-port-arch.h
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/gtest-port.h
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/gtest-string.h
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/gtest-tuple.h
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/gtest-tuple.h.pump
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/gtest-type-util.h
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/gtest-type-util.h.pump
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.propertiesui.xml
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.targets
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Debug/gtest.pdb
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Debug/gtest_main.pdb
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Debug/gtest_maind.lib
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Debug/gtestd.lib
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Release/gtest.lib
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Release/gtest.pdb
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Release/gtest_main.lib
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Release/gtest_main.pdb
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Debug/gtest.pdb
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Debug/gtest_main.pdb
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Debug/gtest_maind.lib
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Debug/gtestd.lib
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/gtest.lib
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/gtest.pdb
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/gtest_main.lib
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/gtest_main.pdb
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/license (MIT).txt
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3.nupkg
CompileTime_solver/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/ThirdPartyNotices.txt
CompileTime_solver/x64/Debug/CompileTime_solver.exe
CompileTime_solver/x64/Debug/CompileTime_solver.ilk
CompileTime_solver/x64/Debug/CompileTime_solver.pdb
CompileTime_solver/x64/Debug/gtest.pdb
CompileTime_solver/x64/Debug/gtest_main.pdb
CompileTimeLambda/.vs/CompileTimeLambda/v16/.suo
CompileTimeLambda/.vs/CompileTimeLambda/v16/Browse.VC.db
CompileTimeLambda/.vs/CompileTimeLambda/v16/ipch/AutoPCH/ff1d600df3e640d0/COMPILETIMELAMBDA.ipch
CompileTimeLambda/CompileTimeLambda.sln
CompileTimeLambda/CompileTimeLambda/CompileTimeLambda.vcxproj
CompileTimeLambda/CompileTimeLambda/CompileTimeLambda.vcxproj.filters
CompileTimeLambda/CompileTimeLambda/CompileTimeLambda.vcxproj.user
CompileTimeLambda/CompileTimeLambda/Debug/CompileT.2ff304bc.tlog/CL.command.1.tlog
CompileTimeLambda/CompileTimeLambda/Debug/CompileT.2ff304bc.tlog/CL.read.1.tlog
CompileTimeLambda/CompileTimeLambda/Debug/CompileT.2ff304bc.tlog/CL.write.1.tlog
CompileTimeLambda/CompileTimeLambda/Debug/CompileT.2ff304bc.tlog/CompileTimeLambda.lastbuildstate
CompileTimeLambda/CompileTimeLambda/Debug/CompileT.2ff304bc.tlog/link.command.1.tlog
CompileTimeLambda/CompileTimeLambda/Debug/CompileT.2ff304bc.tlog/link.read.1.tlog
CompileTimeLambda/CompileTimeLambda/Debug/CompileT.2ff304bc.tlog/link.write.1.tlog
CompileTimeLambda/CompileTimeLambda/Debug/CompileTimeLambda.exe.recipe
CompileTimeLambda/CompileTimeLambda/Debug/CompileTimeLambda.log
CompileTimeLambda/CompileTimeLambda/Debug/CompileTimeLambda.obj
CompileTimeLambda/CompileTimeLambda/Debug/vc142.idb
CompileTimeLambda/CompileTimeLambda/Debug/vc142.pdb
CompileTimeLambda/Debug/CompileTimeLambda.exe
CompileTimeLambda/Debug/CompileTimeLambda.ilk
CompileTimeLambda/Debug/CompileTimeLambda.pdb
ControlWork_05062021/.vs/ControlWork_05062021/v16/.suo
ControlWork_05062021/.vs/ControlWork_05062021/v16/Browse.VC.db
ControlWork_05062021/.vs/ControlWork_05062021/v16/ipch/AutoPCH/21b0cfdb2bfb7a1a/CONTROLWORK_05062021.ipch
ControlWork_05062021/.vs/ControlWork_05062021/v16/ipch/AutoPCH/2df1149c07cf3a4d/PROBLEM4.ipch
ControlWork_05062021/.vs/ControlWork_05062021/v16/ipch/AutoPCH/47a98d9c164d771a/PROBLEM1.ipch
ControlWork_05062021/.vs/ControlWork_05062021/v16/ipch/AutoPCH/54d3a3810fc2bd78/MYARCH.ipch
ControlWork_05062021/.vs/ControlWork_05062021/v16/ipch/AutoPCH/59407b9c205733a4/PROBLEM3.ipch
ControlWork_05062021/.vs/ControlWork_05062021/v16/ipch/AutoPCH/6102de9c247adb6b/PROBLEM2.ipch
ControlWork_05062021/.vs/ControlWork_05062021/v16/ipch/AutoPCH/95c35cc86b255a86/MYARCH.ipch
ControlWork_05062021/ControlWork_05062021.sln
ControlWork_05062021/ControlWork_05062021/ControlWork_05062021.vcxproj
ControlWork_05062021/ControlWork_05062021/ControlWork_05062021.vcxproj.filters
ControlWork_05062021/ControlWork_05062021/ControlWork_05062021.vcxproj.user
ControlWork_05062021/ControlWork_05062021/Debug/ControlW.a5e1daea.tlog/CL.command.1.tlog
ControlWork_05062021/ControlWork_05062021/Debug/ControlW.a5e1daea.tlog/CL.read.1.tlog
ControlWork_05062021/ControlWork_05062021/Debug/ControlW.a5e1daea.tlog/CL.write.1.tlog
ControlWork_05062021/ControlWork_05062021/Debug/ControlW.a5e1daea.tlog/ControlWork_05062021.lastbuildstate
ControlWork_05062021/ControlWork_05062021/Debug/ControlW.a5e1daea.tlog/link.command.1.tlog
ControlWork_05062021/ControlWork_05062021/Debug/ControlW.a5e1daea.tlog/link.read.1.tlog
ControlWork_05062021/ControlWork_05062021/Debug/ControlW.a5e1daea.tlog/link.write.1.tlog
ControlWork_05062021/ControlWork_05062021/Debug/ControlWork_05062021.exe.recipe
ControlWork_05062021/ControlWork_05062021/Debug/ControlWork_05062021.log
ControlWork_05062021/ControlWork_05062021/Debug/ControlWork_05062021.obj
ControlWork_05062021/ControlWork_05062021/Debug/vc142.idb
ControlWork_05062021/ControlWork_05062021/Debug/vc142.pdb
ControlWork_05062021/Debug/ControlWork_05062021.exe
ControlWork_05062021/Debug/ControlWork_05062021.ilk
ControlWork_05062021/Debug/ControlWork_05062021.pdb
HuffmanEncoder/.vs/HuffmanEncoder/v16/.suo
HuffmanEncoder/.vs/HuffmanEncoder/v16/Browse.VC.db
HuffmanEncoder/.vs/HuffmanEncoder/v16/ipch/AutoPCH/190e351b8f83f1f4/ARCH_FUNC.ipch
HuffmanEncoder/.vs/HuffmanEncoder/v16/ipch/AutoPCH/28f4e820fdd4cb4c/MAPDIVISION.ipch
HuffmanEncoder/.vs/HuffmanEncoder/v16/ipch/AutoPCH/31586a53209bc92/ARCH_FUNC.ipch
HuffmanEncoder/.vs/HuffmanEncoder/v16/ipch/AutoPCH/46dc880ae1f36886/ARCH_FUNC.ipch
HuffmanEncoder/.vs/HuffmanEncoder/v16/ipch/AutoPCH/4cc78db29c13e4cf/MAIN (1).ipch
HuffmanEncoder/.vs/HuffmanEncoder/v16/ipch/AutoPCH/515eebf4ecc86825/NODE.ipch
HuffmanEncoder/.vs/HuffmanEncoder/v16/ipch/AutoPCH/54a90657814b93cc/MAIN (1).ipch
HuffmanEncoder/.vs/HuffmanEncoder/v16/ipch/AutoPCH/576148dfb17a80bd/INPUTCLASS.ipch
HuffmanEncoder/.vs/HuffmanEncoder/v16/ipch/AutoPCH/625bec2294356155/ARCH_FUNC.ipch
HuffmanEncoder/.vs/HuffmanEncoder/v16/ipch/AutoPCH/66d1f0f2c7594c36/HUB.ipch
HuffmanEncoder/.vs/HuffmanEncoder/v16/ipch/AutoPCH/6b3f144001756995/ARCH_FUNC.ipch
HuffmanEncoder/.vs/HuffmanEncoder/v16/ipch/AutoPCH/71cd6d7d4f47a964/ARCH_FUNC.ipch
HuffmanEncoder/.vs/HuffmanEncoder/v16/ipch/AutoPCH/93d92787f62b42c/REALISATION.ipch
HuffmanEncoder/.vs/HuffmanEncoder/v16/ipch/AutoPCH/98ac883f1b614c48/6.ipch
HuffmanEncoder/.vs/HuffmanEncoder/v16/ipch/AutoPCH/9d77ad6f3b752830/ARCH.ipch
HuffmanEncoder/.vs/HuffmanEncoder/v16/ipch/AutoPCH/b5be37f9ef50437a/ARCH_FUNC.ipch
HuffmanEncoder/.vs/HuffmanEncoder/v16/ipch/AutoPCH/b7835e42942d38de/MYARCH.ipch
HuffmanEncoder/.vs/HuffmanEncoder/v16/ipch/AutoPCH/ba51326c623f6760/CLASSES.ipch
HuffmanEncoder/.vs/HuffmanEncoder/v16/ipch/AutoPCH/d26de14069194228/ARCH_FUNC.ipch
HuffmanEncoder/.vs/HuffmanEncoder/v16/ipch/AutoPCH/e4e357b552faae28/MAIN.ipch
HuffmanEncoder/.vs/HuffmanEncoder/v16/ipch/AutoPCH/f19a7cc740f67daa/ARCH_FUNC.ipch
HuffmanEncoder/.vs/HuffmanEncoder/v16/ipch/AutoPCH/f59c7bb2089af024/ARCH_FUNC.ipch
HuffmanEncoder/.vs/HuffmanEncoder/v16/ipch/AutoPCH/fa468cd5a8638edc/MAIN (1).ipch
HuffmanEncoder/Debug/HuffmanEncoder.exe
HuffmanEncoder/Debug/HuffmanEncoder.ilk
HuffmanEncoder/Debug/HuffmanEncoder.pdb
HuffmanEncoder/HuffmanEncoder.sln
HuffmanEncoder/HuffmanEncoder/Debug/Arch_func.obj
HuffmanEncoder/HuffmanEncoder/Debug/Hub.obj
HuffmanEncoder/HuffmanEncoder/Debug/HuffmanEncoder.exe.recipe
HuffmanEncoder/HuffmanEncoder/Debug/HuffmanEncoder.log
HuffmanEncoder/HuffmanEncoder/Debug/HuffmanEncoder.obj
HuffmanEncoder/HuffmanEncoder/Debug/HuffmanEncoder.tlog/CL.command.1.tlog
HuffmanEncoder/HuffmanEncoder/Debug/HuffmanEncoder.tlog/CL.read.1.tlog
HuffmanEncoder/HuffmanEncoder/Debug/HuffmanEncoder.tlog/CL.write.1.tlog
HuffmanEncoder/HuffmanEncoder/Debug/HuffmanEncoder.tlog/HuffmanEncoder.lastbuildstate
HuffmanEncoder/HuffmanEncoder/Debug/HuffmanEncoder.tlog/link.command.1.tlog
HuffmanEncoder/HuffmanEncoder/Debug/HuffmanEncoder.tlog/link.read.1.tlog
HuffmanEncoder/HuffmanEncoder/Debug/HuffmanEncoder.tlog/link.write.1.tlog
HuffmanEncoder/HuffmanEncoder/Debug/InputClass.obj
HuffmanEncoder/HuffmanEncoder/Debug/main.obj
HuffmanEncoder/HuffmanEncoder/Debug/mapDivision.obj
HuffmanEncoder/HuffmanEncoder/Debug/myArch.obj
HuffmanEncoder/HuffmanEncoder/Debug/node.obj
HuffmanEncoder/HuffmanEncoder/Debug/Realisation.obj
HuffmanEncoder/HuffmanEncoder/Debug/vc142.idb
HuffmanEncoder/HuffmanEncoder/Debug/vc142.pdb
HuffmanEncoder/HuffmanEncoder/HuffmanEncoder.vcxproj
HuffmanEncoder/HuffmanEncoder/HuffmanEncoder.vcxproj.filters
HuffmanEncoder/HuffmanEncoder/HuffmanEncoder.vcxproj.user
HuffmanEncoder/HuffmanEncoder/my_archive.txt
HuffmanEncoder/test.txt
parab/parab.pro.user
parabola/parabola.pro.user
SCVParser_Mk1/.vs/SCVParser_Mk1/v16/.suo
SCVParser_Mk1/.vs/SCVParser_Mk1/v16/Browse.VC.db
SCVParser_Mk1/.vs/SCVParser_Mk1/v16/ipch/AutoPCH/1b71bb7600161d3d/LAZITERREALISATION.ipch
SCVParser_Mk1/.vs/SCVParser_Mk1/v16/ipch/AutoPCH/1e98693d068a68fc/CSV_PARSER.ipch
SCVParser_Mk1/.vs/SCVParser_Mk1/v16/ipch/AutoPCH/2b9bbdff137cff67/CSV_PARSER.ipch
SCVParser_Mk1/.vs/SCVParser_Mk1/v16/ipch/AutoPCH/2f818c3b2610b1f8/CSV_PARSER.ipch
SCVParser_Mk1/.vs/SCVParser_Mk1/v16/ipch/AutoPCH/39d64297f2c9c2d0/CSV_PARSER.ipch
SCVParser_Mk1/.vs/SCVParser_Mk1/v16/ipch/AutoPCH/3ee733c342ca0bc/SCVPARSER_MK1.ipch
SCVParser_Mk1/.vs/SCVParser_Mk1/v16/ipch/AutoPCH/451d4c3d9fe6e134/LAZITERREALISATION.ipch
SCVParser_Mk1/.vs/SCVParser_Mk1/v16/ipch/AutoPCH/70f2c5072c721f8d/CSV_PARSER.ipch
SCVParser_Mk1/.vs/SCVParser_Mk1/v16/ipch/AutoPCH/8a1a352b7601d580/CSV_PARSER.ipch
SCVParser_Mk1/.vs/SCVParser_Mk1/v16/ipch/AutoPCH/8fa98f145c0a3a6a/LAZYITERATOR.ipch
SCVParser_Mk1/.vs/SCVParser_Mk1/v16/ipch/AutoPCH/a2739e3fdf0fa976/DATACONVERTER.ipch
SCVParser_Mk1/.vs/SCVParser_Mk1/v16/ipch/AutoPCH/a571dedae4be51a/CSV_PARSER.ipch
SCVParser_Mk1/.vs/SCVParser_Mk1/v16/ipch/AutoPCH/b7f50ddbed9bd3e1/CSV_PARSER.ipch
SCVParser_Mk1/.vs/SCVParser_Mk1/v16/ipch/AutoPCH/c35d1580d3b697f0/SCVCUSTOMIZER.ipch
SCVParser_Mk1/.vs/SCVParser_Mk1/v16/ipch/AutoPCH/cf1bde4f86560957/CSV_PARSER.ipch
SCVParser_Mk1/.vs/SCVParser_Mk1/v16/ipch/AutoPCH/dfcdc65fee3823e3/SCVPARSERENGINE.ipch
SCVParser_Mk1/.vs/SCVParser_Mk1/v16/ipch/AutoPCH/f939ac377f70cd84/CSV_PARSER.ipch
SCVParser_Mk1/Debug/SCVParser_Mk1.pdb
SCVParser_Mk1/SCVParser_Mk1.sln
SCVParser_Mk1/SCVParser_Mk1/Debug/SCVCustomizer.obj
SCVParser_Mk1/SCVParser_Mk1/Debug/SCVParser_Mk1.exe.recipe
SCVParser_Mk1/SCVParser_Mk1/Debug/SCVParser_Mk1.log
SCVParser_Mk1/SCVParser_Mk1/Debug/SCVParser_Mk1.obj
SCVParser_Mk1/SCVParser_Mk1/Debug/SCVParser_Mk1.tlog/CL.command.1.tlog
SCVParser_Mk1/SCVParser_Mk1/Debug/SCVParser_Mk1.tlog/CL.read.1.tlog
SCVParser_Mk1/SCVParser_Mk1/Debug/SCVParser_Mk1.tlog/CL.write.1.tlog
SCVParser_Mk1/SCVParser_Mk1/Debug/SCVParser_Mk1.tlog/link.command.1.tlog
SCVParser_Mk1/SCVParser_Mk1/Debug/SCVParser_Mk1.tlog/link.read.1.tlog
SCVParser_Mk1/SCVParser_Mk1/Debug/SCVParser_Mk1.tlog/link.write.1.tlog
SCVParser_Mk1/SCVParser_Mk1/Debug/SCVParser_Mk1.tlog/SCVParser_Mk1.lastbuildstate
SCVParser_Mk1/SCVParser_Mk1/Debug/vc142.idb
SCVParser_Mk1/SCVParser_Mk1/Debug/vc142.pdb
SCVParser_Mk1/SCVParser_Mk1/SCVParser_Mk1.vcxproj
SCVParser_Mk1/SCVParser_Mk1/SCVParser_Mk1.vcxproj.filters
SCVParser_Mk1/SCVParser_Mk1/SCVParser_Mk1.vcxproj.user
Задача1 тест.txt
SodaProblem/SodaProblem.pro.user
SodaProblem/SodaProblem.pro
build-SodaProblem-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/Makefile
build-SodaProblem-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/SodaProblem.exe
build-SodaProblem-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/renderarea.o
build-SodaProblem-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/moc_renderarea.o
build-SodaProblem-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/moc_renderarea.cpp
build-SodaProblem-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/moc_predefs.h
build-SodaProblem-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/moc_mainwindow.o
build-SodaProblem-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
build-SodaProblem-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/mainwindow.o
build-SodaProblem-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/main.o
build-SodaProblem-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/.qmake.stash
build-SodaProblem-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/Makefile.Release
build-SodaProblem-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/Makefile.Debug
HuffmanEncoder/HuffmanEncoder/key.txt
HuffmanEncoder/HuffmanEncoder/tesit.txt
HuffmanEncoder/HuffmanEncoder/test.txt
HuffmanEncoder/HuffmanEncoder/in.txt
HuffmanEncoder/HuffmanEncoder/out.txt
HuffmanEncoder/HuffmanEncoder/t.txt
HuffmanEncoder/.vs/HuffmanEncoder/v16/ipch/AutoPCH/823a0f798cc4086c/ARCHIVER.ipch
HuffmanEncoder/.vs/HuffmanEncoder/v16/ipch/AutoPCH/cabc61ca59e93f2c/NODE.ipch
HuffmanEncoder/HuffmanEncoder/Debug/Archiver.obj
HuffmanEncoder/HuffmanEncoder/input.txt
HuffmanEncoder/HuffmanEncoder/rearch.txt
build-Soda-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/ui_mainwindow.h
build-Soda-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/Makefile.Release
build-Soda-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/Makefile.Debug
build-Soda-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/Makefile
build-Soda-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/solver.o
build-Soda-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/Soda.exe
build-Soda-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/moc_predefs.h
build-Soda-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/moc_mainwindow.o
build-Soda-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
build-Soda-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/mainwindow.o
build-Soda-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/main.o
build-Soda-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/hub.o
build-Soda-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/.qmake.stash
